body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background-color: #a2d2ff;
    color: #ffffff;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

#avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid #EFB0C9;
    margin-top: 10px;
}

h1,
h2,
h3,
h4 {
    text-shadow: 1px 1px 1px black;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 20px 0 10px 0;
}

#bday-data {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0px;
}

.gift-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.gift-title {
    margin-bottom: 10px;
}
.gift-hint {
    margin: 0px;
}
#gift-img1{
    width: 400px;
    height: 400px;
    margin: 20px auto 0px auto;
    background: url("Images/gift.jpg");
    background-size: cover;
    background-position:70%; 
    padding: 5px solid;
    border-radius: 5px;
    outline: 5px solid white;
}
#gift-img1:hover{
    background: url("Images/happy.gif");
    background-position: 100%;
    background-size:cover;
    padding: 5px solid;
    border-radius: 5px;
    outline: 5px solid white;
}