body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background-color: #a2d2ff;
    color: #ffffff;
}

#avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid #EFB0C9 ;
}
h1, h2, h4 {
    text-shadow:1px 1px 1px black ;
}
h2, h4 {
    background:  #EFB0C9 ;
}