body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background-color: #a2d2ff;
    color: #ffffff;
}

#avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid #EFB0C9;
    margin-top: 20px;
}

h1,
h2,
h3,
h4 {
    text-shadow: 1px 1px 1px black;
    margin: 0%;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 20px 0 10px 0;
}
#bday-data {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0;
}
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gift-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gift-cover {
    width: 300px;
    height: 300px;
    padding: 5px solid;
    border-radius: 5px;
    outline: 5px solid  white;
    margin-top: 20px;
}